<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c018486525.js" crossorigin="anonymous"></script>
  </head>
  <body>
<!-- header partial -->
    <%- include('partials/layout/header.ejs') %> 
    
<main>


  <!-- main container -->
<div class="container-fluid d-flex">

  <!-- main feed  -->
<div class="col-7 col-lg-9 my-2">

  <!-- tabs -->
  <div class="">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/homepage/<%= user[0].id %>">Back To Main Feed</a>
      </li>
    
    </ul>
  </div>
  
  

  <!-- project card div -->
  <div class="card text-center">
    <div class="card-header blue1">
        <%=user[0].username%> 
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= project[0].postTitle %> </h5>
      <p class="card-text"><%= project[0].postDesc %></p>
      <a href="https://github.com/<%=project[0].githubUsername%>/<%=project[0].githubRepo%>" class="btn btn-secondary blue5" target="_blank">See Project on Github</a>
    </div>
    <div class="card-footer text-muted blue3">
        <% project[0].languages.forEach(language => { %>
      
            <button type="button" class="btn btn-light mx-1"><%= language %><i class="far fa-thumbs-up"></i></button>
          
        <% }) %>
    </div>
  </div>
  <!-- end project card -->
  <!-- start of comment section -->
  <div class="my-3">
<h4>Comments</h4>
<div id="pastComments"></div>
<div>
  <textarea name="comments" id="commentBox" cols="97" rows="4" placeholder="Leave a Comment (be nice)..."></textarea><br>
  <button type="submit" id="submitButton" class="btn btn-primary">Submit Comment</button>
</div>
  </div>
  <!-- end comment section -->
</div>
<!-- end main feed div -->

<!-- sidebar -->
<div class="col-5 col-lg-3 blue4">
    <h3 class="mx-3 mt-2 text-grey"><%=user[0].username%></h3>
    <div class="d-flex justify-content-center">
    <img src="<%=user[0].imageurl%>" class="card-img-top w-50 mb-3" alt="..." style="border-radius: 50%; border: black solid">
    </div>
    <!-- start of card -->
    <div class="card w-100" >
      
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Junior Software Engineer. Student at Digital Crafts. Looking to collaborate with other developers on projects.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fab fa-js" ></i> Javascript </li>
        <li class="list-group-item"> <i class="fab fa-html5"></i> HTML</li>
        <li class="list-group-item"><i class="fab fa-css3-alt"></i> CSS </li>
        <li class="list-group-item"><i class="fab fa-python"></i> Python </li>
        <li class="list-group-item"><i class="fab fa-cuttlefish"></i><i class="fas fa-hashtag"></i></li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary"><a href="https://github.com/<%=user[0].github%> " class="card-link" target="_blank" style="color: white;">My Github</a></button>
        
    
        <!-- <a href="#" class="card-link">Linked In</a> -->
      </div>
    </div>
  <!-- end card div -->
  </div>
<!-- end of sidebar div -->
</div>
<!-- end of main container div -->

</main>

<%- include('partials/layout/footer.ejs') %> 

      
    <!-- Optional JavaScript -->
    <script src="/js/comments.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
